<div id="map_canvas" style="height: 600px;"></div>

<h1>Vendors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Text</th>
  </tr>

  <% @vendors.each do |vendor| %>
    <tr>
      <td><%= vendor.name %></td>
      <td><%= vendor.phone %></td>
      <td><%= vendor.text %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Vendor", new_vendor_path %>

<%= google_maps_api %>